.logo {
  max-height: 42px;
}

.navbarMenuLink {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    display: none;
    position: absolute;
    top: -10px;
    left: 50%;
    height: 8px;
    width: 8px;
    background-color: $warning;
    border-radius: 50%;
  }
  &:hover {
    &:before {
      display: block;
    }
  }
}

.navbarToolLink {
  color: $primary;
  &:hover {
    color: $warning;
  }
}

.hamBtn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

@include media-breakpoint-up(md) {
  .logo {
    max-height: 62px;
  }

  .hamBtn {
    position: relative;
  }
}